p Ola, #{provider}
p Um cliente #{admin} enviou uma mensagem pela área externa! 
p
  strong Cliente: #{name}
  strong Assunto: #{type} 
  strong Messagem: #{message} 
  strong Data/hora:  #{date} 

br 
small Voce pode visualizar a avalição completa na sessão de avaliações.


